body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 20px;
    margin-right: 20px;
    background: linear-gradient(90deg, #1f5ea7, #211f94) center center no-repeat;
    padding: 50px;
    font-family: sans-serif;
    color: white;
}

img {
    margin-left: 1000px;
    margin: 20px 20px 0px 50px;
    border: 5px black solid;
}

figcaption {
    text-align: center;
    text-decoration: overline;
    color: white;
    margin-top: 10px;
}

.right {
    float: right;
}
iframe{
    max-width: 150%;
	height: 300px;
    margin-left: 20px;
    border: 1px white solid;
    box-shadow: 10px 10px 10px black;
}
h1{
    color: beige;
    text-decoration: underline;
}
