body{
    background: linear-gradient(85deg, #0b55aa, #111111) center center no-repeat;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

img {
    margin-left: 1000px;
    margin: 20px 20px 0px 50px;
    border: 5px black solid;
}

figcaption {
    text-align: center;
    text-decoration: underline;
    color: #fb911f;
    margin-top: 15px;
}

.right {
    float: right;
}
iframe{
    max-width: 150%;
	height: 300px;
    margin-left: 20px;
    border: 1px white solid;
    box-shadow: 10px 10px 10px black;
    margin-top: 89px;
}
h1{
    color: beige;
}

span{
    color: #fb911f;
}

/* nav */
:root{
    --hauteur-menu: 60px;
}
  
*{
    padding: 0px;
}

.nav_flex{
    display: flex;
    border-bottom: 3px #000000 solid;
}

nav{
    width: 100%;
    position: relative;
    top: 30px;
    z-index: 1;
}

.nav-home{
    font-size: 2em;
    max-width: 200px;
}

.menu-deroulant{
    font-size: 2em;
    max-width: 410px;
}


.nav-hide{
    font-size: 0.5em;
    margin: 15px 0;
    margin-left: 20px;
}

nav > ul{
    display: flex;
    text-align: center;
    height: var(--hauteur-menu);
}
  
nav ul{
    list-style-type: none;
}
  
nav > ul > li{
    background-color: transparent;
    position: relative;
    height: 100%;
    flex: 1;
}
  
nav > ul > li:hover > a{
    color: #fb911f;
}
  
nav > ul > li > a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li{
    text-align: start;
}

li a{
    text-decoration: none;
    color: #000000;
}

.name{
    color: #ffffff;
}
  
.menu-deroulant > a:after{
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
}
  
.menu-deroulant:hover > a:after{
    animation: rotationFleche 0.2s linear forwards;
}
  
@keyframes rotationFleche{
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(45deg);
    }
    100%{
      transform: rotate(90deg);
    }
}
  
.sous-menu{
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    overflow: hidden;
    max-height: 0;
    border-radius: 2px;
    background-color: #ffffff;
}

.deroulant{
    max-height: 200px;
    overflow: auto;
}
.menu-deroulant:hover > .sous-menu{
    animation: apparitionSousMenu 1s forwards;
}
  
@keyframes apparitionSousMenu{
    0% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
      border-top: 1px solid #ffffff;
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
      max-height: 50em;
      border-top: 5px solid #ffffff;
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
}
/*
.sous-menu > li:hover{
    background-color: #999793;
}
*/
  
.sous-menu > li > a{
    align-items: stretch;
    display: flex;
    height: 50px;
    padding-left: 20px;
    width: 100%;
}
  
.deroulant > li:hover > a{
    color: blue;
}

@media all and (max-width: 800px)
{
    .nav-home{
        margin-left: 40px;
    }
    .nav-deroulant{
        visibility: hidden;
    }
}

/* fin nav */

