body{
    background: linear-gradient(90deg, #1f5ea7, #211f94) center center no-repeat;
    padding: 50px;
    font-family: sans-serif;
}


/* nav */
:root{
    --hauteur-menu: 60px;
}
  
*{
    margin: 0px;
    padding: 0px;
}

.nav_flex{
    display: flex;
    border-bottom: 3px #000000 solid;
}

nav{
    width: 100%;
    position: relative;
    top: 30px;
    z-index: 1;
}

.nav-home{
    font-size: 2em;
    margin-left: 40px;
    max-width: 200px;
}

.nav-deroulant{
    font-size: 2em;
    max-width: 410px;
}


.nav-hide{
    font-size: 0.5em;
    margin: 15px 0;
    margin-left: 20px;
}

nav > ul{
    display: flex;
    text-align: center;
    height: var(--hauteur-menu);
}
  
nav ul{
    list-style-type: none;
}
  
nav > ul > li{
    background-color: transparent;
    position: relative;
    height: 100%;
    flex: 1;
}
  
nav > ul > li:hover > a{
    color: #f8e3a9;
}
  
nav > ul > li > a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
  
.menu-deroulant > a:after{
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
}
  
.menu-deroulant:hover > a:after{
    animation: rotationFleche 0.2s linear forwards;
}
  
@keyframes rotationFleche{
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(45deg);
    }
    100%{
      transform: rotate(90deg);
    }
}
  
.sous-menu{
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    overflow: hidden;
    max-height: 0;
    border-radius: 2px;
    background-color: #ffffff;
}

.deroulant{
    max-height: 200px;
    overflow: auto;
}
.menu-deroulant:hover > .sous-menu{
    animation: apparitionSousMenu 1s forwards;
}
  
@keyframes apparitionSousMenu{
    0% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
      border-top: 1px solid #ffffff;
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
      max-height: 50em;
      border-top: 5px solid #ffffff;
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
}
/*
.sous-menu > li:hover{
    background-color: #999793;
}
*/
  
.sous-menu > li > a{
    align-items: stretch;
    display: flex;
    height: 50px;
    padding-left: 20px;
    width: 100%;
}
  
.deroulant > li:hover > a{
    color: blue;
}

@media all and (max-width: 800px)
{
    .nav-deroulant{
        visibility: hidden;
    }
}

/* fin nav */
.nomParagraphe{
    font-size: 2em;
    color: #ffffff;
    margin-top: 70px;
    margin-bottom: 10px;
}

.slider{
    width: 80%;
    margin: 0 auto;
}

.container_jeux{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
}

.container_jeux:hover{
    position: relative;
    bottom: 20px;
}

.img-div{
    height: 180px;
    margin-bottom: 7px;
    border: 3px rgb(0, 0, 0) solid;
    box-shadow: 10px 8px 5px rgb(31, 31, 31);
}

.description{
    text-align: center;
    color: #ffffff;
}

/* Carousel Jeux */
.div1{
    background: url(../Galeries/Jeux/TLoZ1.jpg) center no-repeat;
    background-size: cover;
}

.div2{
    background: url(../Galeries/Jeux/TLoZ2.jpg) center no-repeat;
    background-size: cover;
}


.div3{
    background: url(../Galeries/Jeux/aLinkToThePast.jpg) center no-repeat;
    background-size: cover;
}

.div4{
    background: url(../Galeries/Jeux/linkAwakening.jpg) center no-repeat;
    background-size: cover;
}

.div5{
    background: url(../Galeries/Jeux/OoT.jpg) center no-repeat;
    background-size: cover;
}

.div6{
    background: url(../Galeries/Jeux/MM.jpg) center no-repeat;
    background-size: cover;
}

.div7{
    background: url(../Galeries/Jeux/oracleOfAges.jpg) center no-repeat;
    background-size: cover;
}

.div8{
    background: url(../Galeries/Jeux/oracleOfSeasons.jpg) center no-repeat;
    background-size: cover;
}

.div9{
    background: url(../Galeries/Jeux/WindWaker.jpg) center no-repeat;
    background-size: cover;
}

.div10{
    background: url(../Galeries/Jeux/fourSwordAdventures.jpg) center no-repeat;
    background-size: cover;
}

.div11{
    background: url(../Galeries/Jeux/theMinishCap.jpg) center no-repeat;
    background-size: cover;
}

.div12{
    background: url(../Galeries/Jeux/TP.jpg) center no-repeat;
    background-size: cover;
}

.div13{
    background: url(../Galeries/Jeux/phantomHourglass.jpg) center no-repeat;
    background-size: cover;
}

.div14{
    background: url(../Galeries/Jeux/spiritTracks.jpg) center no-repeat;
    background-size: cover;
}

.div15{
    background: url(../Galeries/Jeux/SS.jpg) center no-repeat;
    background-size: cover;
}

.div16{
    background: url(../Galeries/Jeux/aLinkBetweenWorlds.jpg) center no-repeat;
    background-size: cover;
}

.div17{
    background: url(../Galeries/Jeux/TriFroceHeroes.jpg) center no-repeat;
    background-size: cover;
}

.div18{
    background: url(../Galeries/Jeux/BoTW.jpg) center no-repeat;
    background-size: cover;
}

/* Carousel Jeux */
.divA{
    background: url(../Galeries/Produits/Manga.jpg) center no-repeat;
    background-size: cover;
}

.divB{
    background: url(../Galeries/Produits/Game&Watch.jpg) center no-repeat;
    background-size: cover;
}

.divC{
    background: url(../Galeries/Produits/cosplay.jpg) center no-repeat;
    background-size: cover;
}

.divD{
    background: url(../Galeries/Produits/amiibo.jpg) center no-repeat;
    background-size: cover;
}

